/* custom-pagination.css */
.ant-pagination-item-custom {
  border: 1px solid #fbc505 !important;
  background-color: #fbc505 !important;
  color: black !important;
}

.ant-pagination-item-custom-active,
.ant-pagination-item-custom:hover,
.ant-pagination-item-custom:focus {
  border-color: #fbc505 !important;
  background-color: #fbc505 !important;
}
